# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
env/

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak
